/* This file is where all the CSS code go. */
/* remember "selector{property  : value;}"" */
h2 {
  background-color: lightgray;
  color: darkblue;
  font-size: 30px;
}
h7 {
  color: yellow;
  font-size: 18px;
  font-style: italic;
}
div {
  border: solid 2px;
}
span {
  background-color: darkgray;
}
/* 01 ".name" is how it's called for a class object. */
.class {
  border: none;
}
/* 02 "#name" is how it's called for an id object. */
/* 03 "id" properties overwrite other properties despite the order. */
#id {
  background-color: lightblue;
}
.class {
  background-color: lightgreen;
}
.box {
  border: none;
  width: 350px;
  background: lightpink;
  /* 04 "margin" is the space outsite the div. */
  margin: 50px;
  /* 05 "border" is the space inside the div. */
  border: dotted 5px red;
  /* 06 "padding" it limits the inside from the outside. */
  padding: 25px;
}
.container {
  /* 07 "background-image" let us place an image for the background, with content over it. */
  background-image: url(../img/background.jpg);
  /* 08 "background-size" can set the aspect ration of the image or size in px or %. */
  background-size: cover;
  /* 09 "background-position" determinate the justification of the image. */
  background-position: center;
}
