/* This file is where all the CSS code go. */
/* remember "selector{property  : value;}"" */
h2 {
  background-color: lightgray;
  color: darkblue;
  font-size: 30px;
}
h7 {
  color: yellow;
  font-size: 18px;
  font-style: italic;
}
div {
  border: solid 2px;
}
span {
  background-color: darkgray;
}
/* 01 ".name" is how it's called for a class object. */
.class {
  border: none;
}
/* 02 "#name" is how it's called for an id object. */
/* 03 "id" properties overwrite other properties despite the order. */
#id {
  background-color: lightblue;
}
.class {
  background-color: lightgreen;
}
.box {
  border: none;
  width: 350px;
  background: lightpink;
  /* 04 "margin" is the space outsite the div. */
  margin: 50px;
  /* 05 "border" is the space inside the div. */
  border: dotted 5px red;
  /* 06 "padding" it limits the inside from the outside. */
  padding: 25px;
}
.container {
  /* 07 "background-image" let us place an image for the background, with content over it. */
  background-image: url(../img/background.jpg);
  /* 08 "background-size" can set the aspect ration of the image or size in px or %. */
  background-size: cover;
  /* 09 "background-position" determinate the justification of the image. */
  background-position: center;
}
.text {
  /* 10 "font-family" in this property you can list font families if one cant be read. */
  /* 11 You can get more font families complementation from "cssfontstack". */
  /* 12 To write a font with space requires "" or ''. */
  font-family: Calibri,Candara,'Times New Roman',"Segoe UI",Optima,Arial,sans-serif;
  /* 13 "font-style" change the display of the font. */
  font-style: italic;
  /* 14 "font-weight" change the size of the stroke. */
  font-weight: lighter;
  /* 15 "line-height" chagne the height between lines, can be in px or ration. */
  line-height: 1.8;
  /* 16 "text-align" chagne the align of the paragraph. */
  text-align: justify;
}
.deco {
  background: none;
  /* 17 "text-decoration" can add a line, over, under or through the text. */
  text-decoration: line-through;
}
.transform {
  background: none;
  /* 18 "text-transform" can chage to uppercase or lowercase. */
  text-transform: capitalize;
}
/* 19 to change the style of the links, they need to be selected "a{}" or by a class. */
/* 20 ":link" calls for element with an "href". */
.style-link:link {
  color: yellow;
}
/* 21 ":visited" calls for the links the browser already visited. */
.style-link:visited {
  color: gray;
}
/* 22 ":hover" calls when the cursor pass over the element. */
.style-link:hover {
  color: red;
}
/* 23 ":active" calls while the link is clicked. */
.style-link:active {
  color: blue;
}
.bottomPart a {
  color: black;
}
/*
  containerTwo
    topPart
      ==paragraph one==
    bottomPart
      ==paragraph two==
      paraThree
        ==paragraph three==
      paraFour
        ==paragraph four==
  CASE: We wnat to change the paragraph three and four.
  We only wnat to change the links inside the paragraph three.
  We want to change the first and last links (class: important).
*/
/* 24 We can select multiples elements to applye style to them. */
.paraThree,
.paraFour {
  background: #4060FF;
}
/* 25 We can make a tree selection. */
.paraThree a {
  background: white;
}
/* 26 The importance of "class" is lower than the "a", so the link edited by the tag "a" won't change. */
.importantLink {
  color: yellowgreen;
  /* 27 "!important" force to overwrite any other property, shall be last case use Only. */
  color: red!important;
}
.lists ol {
  /* 28 "list-style-type" can change the type of the bullet or enumeration. */
  list-style-type: lower-alpha;
  text-align: center;
}
.lists li {
  background: lightgray;
}
.lists ul {
  /* 29 "list-style-image" can set an image for the bullets, they require to be at the correct size. */
  list-style-image: url(../img/bullet12.png);
  text-align: center;
  /* 30 The defaul position of the bullets is outsite the "li" element.  */
  /* 31 "list-style-position" can set the bullets to keep it aside the text. */
  list-style-position: inside;
}
